{% extends 'core/base.html' %}
{% load static %}

{% block date %}
<div class="col-sm-4">
  <form class="row" action={% url 'home' %} method="POST" id="post-form">
    {% csrf_token %}
    
    <div class="d-flex align-items-start mb-3">
      <div class="p-2 bd-highlight">
          {% comment %} <div class="input-group date" id="datepicker">
            <input type="text" class="form-control" id="date" placeholder={{data1}} name="currdate" />
            <span class="input-group-append">
              <span class="input-group-text bg-light d-block">
                <i class="fa fa-calendar"></i>
              </span>
            </span>
          </div>  {% endcomment %}
          
      </div>
      <div class="p-2 bd-highlight">
        <div class="form-check form-switch">
          {%if data3 == "on" %}
          <input class="form-check-input" type="checkbox" id="flexSwitchCheckChecked" name="toggler" checked>
          {% else %}
          <input class="form-check-input" type="checkbox" id="flexSwitchCheckChecked" name="toggler">
          {% endif %}
          <label class="form-check-label" for="flexSwitchCheckChecked">Working Hours</label>
        </div>
      </div>
      <div class="p-2 bd-highlight">
        <button type="submit">Submit</button>
      </div>
    </div>
  </form>
  {% comment %} <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <script>
    $(document).on('submit','#post-form',function(e){
      e.preventDefault();
      $.ajax({
        type:'POST',
        url: '',
        data:{
          date: $("#date").val(),
          flexSwitchCheckChecked: $("#flexSwitchCheckChecked").val(),
          csrfmiddlewaretoken: $('input[name=csrfmiddlewaretoken]').val() 
        },
        success: function(response) {
          // Handle the success response if needed
        },
      })
    })
  </script> {% endcomment %}
</div>
{% endblock date %}

{% comment %} {% block toggle %}
<div class="col-sm-4">
  <form action="{% url 'home' %}" method="POST" >
    {% csrf_token %}
    <div class="form-check form-switch">
      <input class="form-check-input" type="checkbox" id="flexSwitchCheckChecked" name="toggler">
      <label class="form-check-label" for="flexSwitchCheckChecked">Working Hours</label>
    </div>
    <button type="submit">Submit</button>
  </form>
</div>
{% endblock toggle %} {% endcomment %}

{% comment %} {% block search %}
<div class="col-sm-4">
  <form action="">
    <input type="text">
  </form>
</div>
{% endblock search %} {% endcomment %}



{% block content %}
<div class="col-sm-12">
    <h3 class="my-5">Home Page</h3>
    <div class="my-5">
    Current date = {{data1}}<br>
    date with time = {{data2}}<br>
    status = {{data3}}<br>
    updated date =<br>
    </div>

    <div class="row">
      {% for name, counts in data4.items %}
      <div class="col-sm-3 my-3">
        <div class="card">
          <div class="card-body">
            <h4>User : {{name}}</h4>
            {% comment %} {{counts}} {% endcomment %}
            <p>Idle Time : {{counts.Idle}}</p>
            <p>Pro Time : {{counts.PRO}}</p>
            <p>Unpro Time : {{counts.UNPRO}}</p>
          </div>
        </div>
      </div> 
      {% endfor %}
    </div>

    {% comment %} <div class="row"> -12 
      <div class="col-sm-3 my-3">
        <div class="card">
          <div class="card-body">
            <h3 class="card-title">{{name}}</h3>
            <p class="card-text">Productive Time : {{protime}}</p>
            <p class="card-text">UnProductive Time : {{unprotime}}</p>
            <p class="card-text">Idle Time : {{idletime}}</p>
            <p class="card-text">Login Time :</p>
            <p class="card-text">Logout Time :</p>
          </div>
        </div>
      </div>
      <div class="col-sm-3 my-3">
        <div class="card">
          <div class="card-body">
            <h3 class="card-title">NAME</h3>
            <p class="card-text">Productive Time :</p>
            <p class="card-text">UnProductive Time :</p>
            <p class="card-text">Idle Time :</p>
            <p class="card-text">Login Time :</p>
            <p class="card-text">Logout Time :</p>
          </div>
        </div>
      </div>
      <div class="col-sm-3 my-3">
        <div class="card">
          <div class="card-body">
            <h3 class="card-title">NAME</h3>
            <p class="card-text">Productive Time :</p>
            <p class="card-text">UnProductive Time :</p>
            <p class="card-text">Idle Time :</p>
            <p class="card-text">Login Time :</p>
            <p class="card-text">Logout Time :</p>
          </div>
        </div>
      </div>
      <div class="col-sm-3 my-3">
        <div class="card">
          <div class="card-body">
            <h3 class="card-title">NAME</h3>
            <p class="card-text">Productive Time :</p>
            <p class="card-text">UnProductive Time :</p>
            <p class="card-text">Idle Time :</p>
            <p class="card-text">Login Time :</p>
            <p class="card-text">Logout Time :</p>
          </div>
        </div>
      </div>
      <div class="col-sm-3 my-3">
        <div class="card">
          <div class="card-body">
            <h3 class="card-title">NAME</h3>
            <p class="card-text">Productive Time :</p>
            <p class="card-text">UnProductive Time :</p>
            <p class="card-text">Idle Time :</p>
            <p class="card-text">Login Time :</p>
            <p class="card-text">Logout Time :</p>
          </div>
        </div>
      </div>
      <div class="col-sm-3 my-3">
        <div class="card">
          <div class="card-body">
            <h3 class="card-title">NAME</h3>
            <p class="card-text">Productive Time :</p>
            <p class="card-text">UnProductive Time :</p>
            <p class="card-text">Idle Time :</p>
            <p class="card-text">Login Time :</p>
            <p class="card-text">Logout Time :</p>
          </div>
        </div>
      </div>
      <div class="col-sm-3 my-3">
        <div class="card">
          <div class="card-body">
            <h3 class="card-title">NAME</h3>
            <p class="card-text">Productive Time :</p>
            <p class="card-text">UnProductive Time :</p>
            <p class="card-text">Idle Time :</p>
            <p class="card-text">Login Time :</p>
            <p class="card-text">Logout Time :</p>
          </div>
        </div>
      </div>
      <div class="col-sm-3 my-3">
        <div class="card">
          <div class="card-body">
            <h3 class="card-title">NAME</h3>
            <p class="card-text">Productive Time :</p>
            <p class="card-text">UnProductive Time :</p>
            <p class="card-text">Idle Time :</p>
            <p class="card-text">Login Time :</p>
            <p class="card-text">Logout Time :</p>
          </div>
        </div>
      </div>
      
      
    </div> {% endcomment %}

</div>
{% endblock content %}